doctype html

head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TTLU | 臺灣勞動派遣產業工會 為非典型勞工倡議合宜工作環境的非營利組織
    link(rel="shortcut icon", href="public/images/favicon.ico", type="public/image/x-icon")
    link(rel="stylesheet", href="public/css/styles.css")
body
    header
        .headerbox
            img.logo(src="public/images/TTLU_logo.png", alt="TTLU | 臺灣勞動派遣產業工會", width="100%", height="auto") 
            h1 臺灣勞動派遣產業工會 
            h3 非典型派遣承攬勞工倡議合宜工作環境
            h6 TTLU | Taiwan Temp Labor Union
    //- nav
    //-     .headerbox
    //-         ul
    //-             li 
    //-                 a(href="#") 關於我們
    //-             li 
    //-                 a(href="#") 會務月報
    //-             li 
    //-                 a(href="#") 勞資溝通里程
    //-             //- li 
    //-             //-     a(href="#") FAQ
    //-             li 
    //-                 a(href="#") 聯絡我們
    section
        .headerbox
            ul.flexul.font10
                li TTLU會務報告
                li 2022-05-01    
                li 第3期
            //- 圖1
            img(src="public/images/TTLUnego2022.jpg", alt="TTLU|臺灣勞動派遣產業工會與中榮勤務承包商美傑清潔公司協商")
            table(style='width:100%') 
                tr
                    th.font10left 2022/04/26 
                    th.font10left.tagblue 中榮
                    th
                    //- td.font10left 
                tr 
                    td.font10right(colspan='3')  臺灣勞動派遣產業工會與中榮勤務承包商美傑清潔公司協商 處理人員:吳昭儒、吳憶萍、吳月霞、羅宛莉 | 攝影：施士青
            //- 圖2
            img(src="public/images/news/askforhelp.png", alt="尋求法律諮詢協助")
            table(style='width:100%')
                tr
                    td.font10left 2022/05/06
                    td.font10left.tagyellow 桃總
                    td
                tr
                    td.font10right(colspan='3') 協助桃總會員申請法律扶助(加重誹謗案) 處理人員:吳昭儒

